{% paginate collection.products by 12 %}

	<section id="{{collection.handle}}" class="collection">
		<header>
			<h1>{{collection.title}}</h1>
			{{collection.description}}
		</header>
		<div id="pagination">
			{{ paginate | default_pagination }}
		</div>
		<ol>
			{% for product in collection.products %}
				<li>
					<a href="{{product.url}}">
						<img src="{{ product.featured_image | product_img_url: 'medium'}}" alt="{{ product.description | strip_html | truncate: 75 }} click for more information" />
						<h2>{{product.title}}</h2>
					</a>
				</li>
			{% endfor %}	
		</ol>
		<div id="pagination">
			{{ paginate | default_pagination }}
		</div>
	</section>

{% endpaginate %}