{% assign article = pages.frontpage %}
<article id="{{page.handle}}" class="post hentry">
	<header>
		<h1 class="entry-title">{{ article.title }}</h1>
		<p class="byline author vcard">Posted by <span class="fn" rel="author">{{article.author}}</span> on <time class="updated" datetime="{{ article.published_at | date: "%Y-%m-%dT%H:%M:%S%Z" }}" pubdate>{{ article.published_at | date: "%A, %B %d" }}</time></p>
	</header>
	<section class="entry-content" id="article_content">
		<h1 hidden>Article content</h1>
		{{ article.content }}
	</section>
	<section class="flexslider">
	    <ul class="slides">
	    	{% for product in collections.frontpage.products %}
		    	<li>
		    		<a href="{{ product.url }}" title="{{product.title}}">
						<img src="{{ product.featured_image | product_img_url: 'original' }}" />
						<p class="flex-caption">{{product.title}}</p>
					</a>
		    	</li>
			{% endfor %}
	    </ul>
	</section>
</article>